.layout {
  &--nav {
    padding: 20px 0;
    a {
      &:not(:first-child) {
        margin-left: 20px;
      }
      &:hover {
        color: $active-text;
      }
    }
    a.active {
      color: $active-text;
    }
  }

  &--content {
  }
}
