.spinner {
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10000;
  &.active {
    display: flex;
  }
}

@keyframes ldio-y23xy7v0ui {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-y23xy7v0ui div {
  box-sizing: border-box !important;
}
.ldio-y23xy7v0ui > div {
  position: absolute;

  width: 140px;
  height: 140px;
  top: 28px;
  left: 28px;
  border-radius: 50%;
  border: 12px solid $bg;
  border-color: $bg transparent $bg transparent;
  animation: ldio-y23xy7v0ui 1s linear infinite;
}
.ldio-y23xy7v0ui > div:nth-child(2) {
  border-color: transparent;
}
.ldio-y23xy7v0ui > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-y23xy7v0ui > div:nth-child(2) div:before,
.ldio-y23xy7v0ui > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;

  top: -12px;
  left: 52px;
  background: $bg;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 $bg;
}
.ldio-y23xy7v0ui > div:nth-child(2) div:after {
  left: -12px;
  top: 52px;
  box-shadow: 128px 0 0 0 $bg;
}
.loadingio-spinner-dual-ring-8auctkuwrqg {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: transparent;
}
.ldio-y23xy7v0ui {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-y23xy7v0ui div {
  box-sizing: content-box;
}
