.pagination-wrapper {
  .pagination {
    display: flex;
    padding: 10px 0;
    justify-content: center;

    li {
      &:first-child,
      &:last-child {
        a {
          width: 32px;
        }
      }
    }

    a,
    button {
      border-radius: 4px;
      border: solid 1px $text-secondary;
      background-color: #fff;
      font-size: 16px;
      font-family: "Helvetica";
      min-width: 32px;
      height: 32px;
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $text-secondary;
      margin-right: 15px;
      text-decoration: none;

      &:hover,
      &.active {
        background-color: $text-secondary;
        color: #fff;

        svg {
          path {
            fill: $bg;
          }
        }
      }

      &.prev {
        svg {
          transform: rotate(-90deg);
        }
      }

      &.next {
        svg {
          transform: rotate(90deg);
        }
      }
    }
  }

  .button-dark {
    font-size: 16px;
    font-weight: 500;
  }
}
