.v-desktop {
  @media (max-width: 991.98px) {
    display: none !important;
  }
}

.v-mob {
  @media (min-width: 991.98px) {
    display: none !important;
  }
}

a {
  text-decoration: none;
  color: #000;
}

.btn-default {
  background-color: $bg;
}
